/*
* @nom             : home_donate.css
* @description     : Feuille de style pour la partie sur les dons sur site de features
* @authors         : Romain Claveau <romain.claveau@protonmail.ch>
*/


/******************/
/* Zone des dons */
/*****************/
section#donate
{
    position: absolute;
    top: 18%;
    left: 0;
    height: 77%;
    width: 100%;
    
    background-color: rgb(240, 240, 240);
}

section#donate table
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

section#donate table tr
{
    text-align: center;
}

section#donate tr td
{
    width: 33.3%;
    
    font-size: 18px;
}

section#donate tr td img
{
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    
    height: 30vh;
    
    background-color: #dddddd;
    box-shadow: 0 0 3px #6907ff;
    
    border-radius: 30vh;
    
    opacity: 0.9;
}
section#donate tr td img:hover
{
    transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    -ms-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    
    box-shadow: 0 0 10px #6907ff;   
}


/*********/
/* PopUp */
/*********/
section#popUp_why
{
    display: none;
    
    z-index: 98;
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
    background-color: rgba(0, 0, 0, 0.8);
}

section#popUp_why div#content_popUp
{
    z-index: 99;
    
    display: table;
    
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    
    background-color: white;
    
    border-radius: 5px;
}

section#popUp_why div#content_popUp p
{
    display: table-cell;
    vertical-align: middle;
    
    padding-left: 3vw;
    padding-right: 3vw;
}

section#popUp_why div#content_popUp a
{
    position: absolute;
    top: 1%;
    right: 1%;
    
    cursor: pointer;
}


@media only screen and (max-device-width: 720px) 
{
    section#donate tr td img
    {
        height: 15vw;
        width: 15vw;
    }
    
    section#donate tr td
    {
        font-size: 24px;
        padding: 2vw;
    }
}