/*
* @nom             : home_about.css
* @description     : Feuille de style pour l'à-propos du site de features
* @authors         : Romain Claveau <romain.claveau@protonmail.ch>
*/


/************************************************/
/* Zone de présentation des membres de l'équipe */
/************************************************/
section#about
{
    position: absolute;
    top: 18%;
    left: 0;
    height: 77%;
    width: 100%;
    
    background-color: rgb(240, 240, 240);
	
	font-size: 15px;
    
    overflow: auto;
}

section#about p.title
{
    font-size: 48px;
    padding-left: 5vh;
    color: #00a7ff;
}

section#about p.title:first-child
{
    margin-top: 3vh;
}

section#about p.description
{
    font-size: 14px;
    padding-left: 6vh;
    padding-right: 6vh;
    
    margin-bottom: 5vh;
}

section#about p.description span
{
    font-weight: bold;
    
    color: #ffb226;
}

section#about p.description b
{
    color: #0076ff;
    
    font-size: 24px;
}

section#about table
{
    position: relative;
    top: 0;
    left: 5%;
    width: 90%;
    
    border-collapse: collapse;
    
    margin-bottom: 5vh;
}

section#about table.members
{
    height: 100%;
}

section#about table tr
{
    text-align: center;
    height: 40%;
}

section#about table tr td
{
    width: 25%;
}

section#about table tr td.description
{
    text-align: justify;
}

section#about table tr td.description p.name
{
    height: 3%;
    
    color: #f19d03;
    
    font-weight: bold;
}

section#about table tr td.description p.role
{
    height: 3%;
    
    color: grey;
}

section#about table tr td.description p.life
{
    height: 30%;
}

section#about table tr td img
{
    height: 10vw;
    width: 10vw;
    
    border-radius: 10vw;
    
    background-color: white;
}

section#about table tr td p:first-child
{
    font-size: 24px;
}

section#about table tr td p:nth-child(2)
{
    font-style: italic;
}

section#about table tr td p:not(:first-child)
{
    margin-top: 5vh;
}

section#about table.thanks tr td
{
    padding-bottom: 7vh;
}



@media only screen and (max-device-width: 720px) 
{
    section#about
    {
        font-size: 24px;    
    }
    
    table, thead, tbody, th, tr, td
    { 
		display: block;
	}
    
    section#about table
    {
        position: relative;
        height: auto;
        width: 100%;
        left: 0;
        
        text-align: center;
    }
    
    section#about table tr
    {
        text-align: center;
        width: calc(100% - 20vw);
    }
    
    section#about table tr td
    {
        text-align: center;
        width: 100%;
        
        padding-left: 10vw;
        padding-right: 10vw;
    }
    
    section#about table tr td p.name, section#about table tr td p.role
    {
        text-align: center;
        font-size: 32px;
    }
    
    section#about table tr td p.life
    {
        margin-bottom: 5vh;
    }
    
    section#about table tr td p
    {
        font-size: 24px;
    }
    
    section#about table.members
    {
        height: auto;
        width: 100%;
        left: 0;
    }
    
    section#about table.thanks tr td
    {
        margin-bottom: 8vh;
    }
    
    p.title
    {
        margin-bottom: 5vh;
    }
}